
div#nav_bar
    a(href="/") Home
    |
    a(href="/books") Browse
    |
    a(href="/users/me") Profile
    |
    a(href="/users/cart") Cart
    |
    div#rightside
            a(href="/users/log") Login/Logout
