html
    head
        style
            include ../../style.css
    body
        include ../partials/navbar
        div.banner
            div.searcharea


                form(action= '/books', id="searchform", method="GET")
                    input(type="text" onfocus="this.value=''" id="searchbar" name="Title" value="Search for a book title...")

                    input(type = "submit" id="search" value="Search")
            a(href="/advancedSearch.html") advanced search
                    
            
            if search !== NULL
                div
                    each book in search
                        div.bookbrowse
                            div.books
                                a(href= "/books/" + book.isbn) #{book.name}
                                p ISBN: #{book.isbn}
                                
