html
    head
        style
            include ../../style.css
    body
        include ../partials/navbar

        h1 Your Cart:
        hr

        each book, index in cart
          div.bookbrowse
            | Title: 
            a(href="/books/" + book.isbn) #{book.name}
            |
            p Price: $#{book.price}

        hr

        p Total: #{total}



            


