html
    head
        style
            include ../../style.css
    body
        include ../partials/navbar

        h1 Username: #{user.user_id}
        
        hr

        p Email: #{user.email_address}
        p Phone Number: #{user.phone_number}

        hr

        if admin
            a(class='button' href='/books/addBook') Add Book
            br
            hr
            h3 Reports:
            br
            div
                h4 Publisher Report:
                form(action= '/users/reports', id="personSubmission", method="GET")
                    p Start Date:
                    input(type="text" id="searchbar" name="start_date" placeholder="Enter a start date...")
                    br
                    p End Date:
                    input(type="text" id="searchbar" name="end_date" placeholder="Enter an end date...")
                    input(type="hidden" id="searchbar" name="type" value="Publisher Report" )
                    br
                    br
                    input(type = "submit" id="search" value="Search")
                
            br
            div
                h4 Author Report:
                form(action= '/users/reports', id="personSubmission", method="GET")
                    p Start Date:
                    input(type="text" id="searchbar" name="start_date" placeholder="Enter a start date...")
                    br
                    p End Date:
                    input(type="text"  id="searchbar" name="end_date" placeholder="Enter an end date...")
                    input(type="hidden"  id="searchbar" name="type" value="Author Report" )
                    br
                    br
                    input(type = "submit" id="search" value="Search")
                
            br
            div
                h4 Genre Report:
                form(action= '/users/reports', id="personSubmission", method="GET")
                    p Start Date:
                    input(type="text" onfocus="this.value=''" id="searchbar" name="start_date" placeholder="Enter a start date...")
                    br
                    p End Date:
                    input(type="text" onfocus="this.value=''" id="searchbar" name="end_date" placeholder="Enter an end date...")
                    input(type="hidden" onfocus="this.value=''" id="searchbar" name="type" value="Genre Report" )
                    br
                    br
                    input(type = "submit" id="search" value="Search")
            br
            div
                h4 Total Report:
                form(action= '/users/reports', id="personSubmission", method="GET")
                    p Start Date:
                    input(type="text" onfocus="this.value=''" id="searchbar" name="start_date" placeholder="Enter a start date...")
                    br
                    p End Date:
                    input(type="text" onfocus="this.value=''" id="searchbar" name="end_date" placeholder="Enter an end date...")
                    input(type="hidden" onfocus="this.value=''" id="searchbar" name="type" value="Total Report" )
                    br
                    br
                    input(type = "submit" id="search" value="Search")
            hr

        | Orders:

        each order, index in orders
            a(href="/orders/" + order.order_id) #{order.order_id}
            if index !== order.length-1
                | , 
        |

